.video-player-dimensions {
  width: 100%;
  height: auto;
}

.video-js {
  width: auto;
  height: auto;
  background-color: transparent;
}

.video-js .vjs-tech {
  position: relative;
  margin-bottom: -0.2em;
}

