.video-player-dimensions {
  width: 100%;
  height: auto;
}

.video-js {
  width: auto;
  height: auto;
  background-color: transparent;
}

.video-js .vjs-tech {
  position: relative;
  margin-bottom: -0.2em;
}

#viewImageModal .modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

