
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.is-thumbnail {
	background-color: #3097D1;
}
#post-search-bar {
	position: relative;
}
#post-search-bar .list-group {
    z-index: 999;
    position: absolute;
    width: 100%;
}
